header
{
    margin-bottom:40px;
}
header .logotipo a{
    display:block;
    font-size:24px;
    padding-left:5%;
    font-weight: 800;
    color:#fff;
    text-decoration:none;
}

header .nav-desktop
{
    margin-top:25px;
    text-align: right;
}

header .nav-desktop ul
{
    list-style: none;
}

header .nav-desktop ul li
{
    display:inline-block;
    list-style: none;
}

header .nav-desktop ul li a
{
    font-size:14px;
    color:white;
    text-decoration:none;
    margin-right:30px;
}

header .nav-mobile
{
    display:none;
}

header .nav-mobile .botao-menu-mobile i
{
    color:white;
    font-size:34px;
}

header .nav-mobile ul
{
    display:none;
}

@media(max-width:700px)
{
    .logotipo
    {
        width:70%;
    }
    header .logotipo a{
    }

    header .nav-desktop
    {
        display:none;
    }

    header .nav-mobile
    {
        display:block;
    }

    header .nav-mobile ul
    {
        width:100%;
        position:absolute;
        top:100px;
        left:0;
        text-align: center;
        background-color: #3f2182;
        list-style:none;
    }

    header .nav-mobile ul li
    {
        border:1px solid #13072e;
        padding:8px;
    }

    header .nav-mobile ul li a
    {
        color:#fff;
        display:inline-block;
        width:100%;
        text-decoration: none;
    }
}