header
{
    margin-bottom:40px;
}
header .logotipo a{
    display:block;
    font-size:24px;
    padding-left:5%;
    font-weight: 800;
    color:#fff;
    text-decoration:none;
}

header .nav-desktop
{
    margin-top:25px;
    text-align: right;
}

header .nav-desktop ul
{
    list-style: none;
}

header .nav-desktop ul li
{
    display:inline-block;
    list-style: none;
}

header .nav-desktop ul li a
{
    color:white;
    text-decoration:none;
    margin-right:30px;
}

header .nav-mobile
{
    display:none;
}

@media(max-width:700px)
{
    header .logotipo a{
    }

    header .nav-desktop
    {
        display:none;
    }
}