.tools
{

    padding: 0;
    margin-top:100px;
}
.tools h2
{
    text-align: center;
    color:#6642b4;
    font-size:42px;
    margin-bottom:20px;
}
.tools-card
{
    width:100%;
	background-image: linear-gradient(135deg, #13072e, #3f2182 );
    border-radius:20px;
    padding:25px;
}

.tools .tools-card h3
{
    color:white;
    text-align: center;
}

 .tools .tools-container
{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.tools .tools-card .back-end-tools, 
.tools .tools-card .front-end-tools,
.tools .tools-card .geral-tools
{
    margin-top: 25px;
}

.tools .tools-container .tool-card 
{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:100px;
    height:100px;
    background-color: #1d1137;
    border-radius:20px;
    margin:14px;
}

.tools .tools-container .tool-card p
{
    font-size:14px;
    color:white;
}

.tools .tools-container .tool-card .tool-image i
{
    color:#6642b4;
    font-size:24px;
    margin-bottom:4px;
}